

.movie {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    margin: 1rem;
    background-color: #122D49;
    border-radius:  3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
}

.movie a {
    text-decoration: none;
}

.movie img {
    max-width: 100%;
}


.movie-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1.5rem;
    
}

.movie-info h3 {
    margin: 0px;
    font-size: 19px;
}

.movie-over {
    position: absolute;
    background-color: white;
    color: #081A2E;
    border-top-right-radius: 3px;
    border-top-left-radius:  3px;
    box-shadow: 0px -3px 5px rgba(0,0,0,0.1);
    padding:  1.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
    max-height: 100%;
    overflow: auto;
}

.movie:hover .movie-over {
    transform: translateY(0%);
}

