.poster {
    width: 250px;
    padding-top: 4.35ch;
    background: rgba(0, 0, 0, 0.82);
    padding-bottom: 4.35ch;
}

button {
    max-width: 150px;
}

/* .movie-page-container{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(16,25,45,255);
} */

.movie-page-container{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    display: flex;
    align-items:flex-end;
    flex-flow: row wrap;
    width: 100%;
 
    

} 

.text-container{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(0, 0, 0, 0.82);
    display: flex;
    flex-flow: column wrap;
} 

.movie-details-container {
    display: flex;
    flex-flow: row;
    /* max-height: 500px; */
    flex-grow: 1;
  

}

.empty {
    width: 4ch;
}

.square {
  /* height: 450px; */
  flex-grow: 1;

  background-color: rgba(0, 0, 0, 0.82);
}



.poster-container{
    display: flex;
    flex-flow: column wrap;
}

#description{
    padding-top: 4.35ch;
}

.similar-movies {
    display: flex;
   
    justify-content: center;

}

.similar-movies-container {
    display: flex;
    max-width: 100%;
}

#removeButton{
    background-color: rgba(212,81,116,255);

}