nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: lightblue;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}

.title {
    width: 70%;
    padding-left: 2%;
}